body{
    background: url('../img/bg.jpg') repeat;
    position: relative;
}
a{
    text-decoration: none;
    color:black;
}
a:active{
    color:white;
}
.wrapper{
    width:960px;
    margin:auto;
    z-index: -4;
    display:block;
}
.header
{
    height: 130px;
    width:960px;
}
h1{
    margin:0px;
    background: url('../img/header.png') no-repeat;
    text-indent: -9999px;
    position: relative;
    top:40px;
    left:10px;
}
#adware{
    width:468px;
    height: 60px;
    background-color: white;
    float:right;
    position: relative;
    top:-34px;
    right: 10px;
}
#adware p{
    line-height: 60px;
    margin-left: 200px;
    color:#ccc;

}
/*meniu*/
#menu{
    background:url('../img/nav.png');
    width:100%;
    height: 49px;
    position: absolute;
    top:130px;
}
#menu>ul{
    margin:0 auto;
    width: 940px;
}
#menu>ul>li{
    list-style: none;
    display: inline block;
    margin-left: 0px;
    float: left;
    text-align: center;
    height: 49px;
   line-height: 49px;
   padding-right: 15px;
   padding-left: 15px;
}
#menu>ul>li:first-child{
    margin-left: -5px;
}
#menu>ul>li>a{
    line-height: 1.2;
    color:white; 
    font-size: 12px;
}
#menu li>ul{
    position: absolute;
    display: none;
    margin-left:-15px;
}
#menu li>ul>li{
    list-style: none;
    margin-left: 0px;
    width:130px;
    height: 37px;
    background: url('../img/nav.png') repeat;
    border-bottom: 1px solid #474747;
    text-align: center;
    line-height: 37px;
}
#menu li>ul a{
    text-align: center;
    color:white;
}
#menu li:hover ul{
    display: block;
}
#elem:hover{
    background:linear-gradient(black,#CCFFCC,black);
}
#menu li>ul>li:last-child
{
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom:none;
}
/*slider*/
#imagini{
    position: relative;
    top:97px;
    left:130px;
    z-index: -2;
    width:670px;
    height: 253px;
    overflow: scroll;
    border-bottom:1px dashed #80817a;
    box-shadow: 0px 0px 15px #babdb3;
}
#imagini ul{
    list-style: none;
    width:10000px;
}
#imagini li{
    float: left;
    margin-left: 0px;
}
#butoane{
    position: absolute;
    top:500px;

}
#butoane ul{
    list-style: none;
    position: relative;
    left:430px;
    display: none;
     border:1px dashed #80817a;
     border-radius: 12px;
}
#butoane li{
    display: inline;
    cursor: pointer;
    margin-left: 0px;
    padding-left: 4px;
    padding-right: 4px;
}
/*content left*/
.content_left{
    width:610px;
    height: 1370px;
    position: relative;
    float:left;
    top:133px;
}
#articole{
    width:610px;
    height: 1370px;
    list-style: none;
}
#articole>li{
    border-bottom: 1px dotted #e5e5e5;
    margin-left: 0px;
    height: 227px;
    position: relative;
}
#articole li>div:first-child{ /*ce e in stanga*/
    height: 84px;
    width:60px;
    background: linear-gradient(#e6e6e6,white,white);
    border-left: 1px dashed #bbbbbb;
    border-right: 1px dashed #bbbbbb;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 113px;
    margin-top: 27px;
    float:left;
}
#articole li>div:first-child span{
    font-size: 28px;
    color:#e0e0e0;
    font-weight: bold;
}
#articole li>div:first-child p{
    font-size: 12px;
    color:#e0e0e0;
    width:60px;
    text-align: center;
}
#dreapta{/*poza din dreapta*/
position: absolute;
top:30px;
float:left;
border:3px solid #eeeee9;
box-shadow: 0px 0px 5px #c4c4b8;
}
#articole li #inima{
    position: absolute;
    top:87px;
    left:20px;
    float: left;
}
#articole li>div:nth-child(2){/*ce e pe mijloc articole*/
    width:355px;
    float: left;
    padding-top: 25px;
    padding-left: 17px;
}
#articole h2{
    font-size: 18px;
    line-height: 1;
    margin-bottom: 5px;
}
#articole li small{
    color:#ccc;
}
#articole li>div:nth-child(2) p{
    margin-bottom: 0px;
}
#articole ul{
    list-style: none;
    margin-bottom: 0px;
    margin-left: -63px;
    margin-top: 10px;
}
#articole ul li{
    display: inline;
    margin-left: 0px;
    color:#aaaaaa;
}
#articole ul li a{
    color:#ccc;
}
#articole ul li:first-child{
    font-size: 11px;
    color:#5e5e5e;
    padding-right: 25px;
}
/*bottom meniu*/
#bottom{
    position: relative;
    top:175px;
    list-style: none;
    width:610px;
}
#bottom li{
    display: inline;
    float: left;
    margin-left: 0px;
    width:35px;
    border-bottom: 3px solid #ccc;
    font-size: 12px;
    text-align: center;
    margin-right: 2px;
}
#bottom li:hover{
    color:white;
    background: black;
}
#bottom span{
    font-size: 7px;
}
#bottom a:first-child li{
    color:white;
    background:black;
}
/*content right*/
.content_right{
    width:318px;
    height:1370px;
    
    position: relative;
    top:133px;
    float:left;  
    padding-left: 10px
}
/*search*/
#search{
    width: 300px;
    height: 10px;
    background: url('../img/osf.jpg');
   margin-top: 25px;
}
#search>p{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 35px;
    font-size: 12px;
    line-height: 1.2;
    color:#999;
}
#text{
    height: 30px;
    width:140px;
    margin-top: 25px;
    margin-left:40px;
    border-top:1px dashed #c5c5c5;
    border-bottom:1px dashed #c5c5c5;
    float:left;
}
input[type='text']{
    color:#ccc;
    padding-left: 17px;
    font-size: 12px;
}
#submit{
    float: left;
    background-color: black;
    margin-top: 26px;
    margin-left: 0px;
    height: 31px;
    width:80px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: url('../img/submit.jpg') repeat-x;
    cursor: pointer;
}
input[type='submit']{
    color:#d8d8d8;
    font-weight: bold;
}
/*popular*/
#popular{
    background: url('../img/popular.jpg');
    width:300px;
    height: 10px;
    margin-top: 105px;
}
#popular p{
    font-size: 12px;
    margin-bottom: 0px;
    margin-left: 40px;
    height: 15px;
    width:150px;
    position: relative;
    top:-3px;
    color:#999;
}
/*content*/
#content{
    width: 300px;
    height: 87px;
    border:1px solid #dedede;
    border-radius: 3px;
    margin-top: 25px;
    box-shadow: 0px 0px 5px plum;
}
#content ul{
    width: 300px;
    height: 36px;
    list-style: none;
    margin-bottom: 0px;
    float:left; 
}
#content li{
    background-color: #ffcccc;
    display: inline;
    margin-left: 0px;
    padding:0px 15.5px;
    font-size: 12px;
    line-height: 36px;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    cursor: pointer;
    float: left;
}
#content li:last-child{
    border-right: none;
}
#content li:first-child{
    border-bottom: none;
    background-color: white;
}
#content p{
    margin: 20px;
    margin-top: 50px;
    font-size:16px;
    color:#999;
   
}
/*categories*/
#categ{
    background: url('../img/cate.jpg');
    width: 300px;
    height: 10px;
    margin-top: 35px;
}
#categ p{
    font-size: 12px;
    margin-left: 45px;
    position: relative;
    top: -2px;
    color:#999;

}
/*lista de categorii*/
#cats{
    height: 303px;
    width: inherit;
    margin-bottom: 0px; 
    margin-top: 33px;
}
/*lista stanga*/
#cats ul:first-child{
    margin-bottom: 0px;
    float: left;
}
#cats ul:first-child li{
    height: 35px;
    width: 140px;
    margin-left: 0px;
    list-style: none;
    line-height: 35px;
    border-bottom: 1px dashed #ccc;
    font-size:12px;
    color:#5e5e5e;
    font-weight:bold;
}
#cats ul:first-child a:last-child li{
    border-bottom: none;
}
/*lista dreapta*/
#cats ul:nth-child(2){
    float: left;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 17px;
}
#cats ul:nth-child(2) li{
    margin-left: 0px;
    height: 35px;
    width: 140px;
    line-height: 35px;
    border-bottom: 1px dashed #ccc;
    font-size:12px;
    color:#5e5e5e;
    font-weight:bold;
}
#cats ul:nth-child(2) a:last-child li{
    border-bottom: none;
}
/*video*/
#video{
    width: 300px;
    height: 10px;
    background: url('../img/video.jpg');
    margin-top: 41px;
    margin-bottom: 20px
}
#video p{
    margin-left: 40px;
    position: relative;
    top:-3px;
    font-size: 12px;
    color:#999;
}
iframe{
    border: 2px red solid;/*da, merge*/
    box-shadow: 0px 0px 5px 3px #ccc;
}
div.footer{
    background: url('../img/f.jpg') repeat;
    height:720px;
    position: relative;
    top:1550px;
    margin-top: 35px;
}
#line{
    width: 100%;
     height: 19px;
    background:url('../img/footer.jpg') repeat;
    border-bottom: 1px dashed #ccc;
}
#continut{
    width: 970px;
    height: 550px;
    margin:auto;
    margin-top: 30px;
    position: relative;
}
#continut a{
    color:white;
}
#continut ul{
    list-style: none;
    position: absolute;
}
#continut>ul>li{
    display: inline;
    margin: 0px;
    float: left;
    margin-right: 12px;
    line-height: 1.3;
}
#continut>ul>li:first-child>div{
   width: 260px;
   height: 510px;
}
#continut>ul>li:first-child div img{
    margin-right: 50px;
    margin-bottom: 26px;
}
#continut>ul>li:first-child div div{
    width:61px;
    height: 10px;
    background: url('../img/hash.png') repeat-x;
    float:right;
    margin-top: 20px;
    margin-right: 5px;
}
#continut>ul>li:first-child p{
   font-size: 13px;
   color:#e0e0e0;
}
#continut>ul>li:nth-child(2)>div{
    width: 230px;
    height: 475px;
}
#continut>ul>li:nth-child(2) li{
    width: 230px;
    margin-left: 0px;
    border-bottom: 1px dashed #1c1c1c;
    border-top:1px dashed #434343;
    padding-bottom: 20px;
    padding-top: 24px;   
}
#continut>ul>li:nth-child(2) li:first-child{
    border-top: none;
    padding-top: 0px;
}
#continut>ul>li:nth-child(2) li:last-child{
    border-bottom: none;
}
#continut>ul>li:nth-child(2) p{
    margin-bottom: 0px;
}
#continut>ul>li:nth-child(2)>div>div{
    width: 221px;
    height: 10px;
    background: url('../img/hash.png') repeat-x;
    margin-top: 20px;
    margin-bottom: 25px;
}
#continut>ul>li:nth-child(2)>div h6{
    margin-bottom: 0px;
    line-height: 10px;
    width: 83px;
    background: url('../img/f.jpg') repeat;
}
#continut>ul>li:nth-child(3)>div{
    height: 400px;
    width:230px;
}
#continut>ul>li:nth-child(3)>div>div{
    width: 230px;
    height: 10px;
    background: url('../img/hash.png') repeat-x;
    margin:20px 0px 25px 0px;
}
#continut>ul>li:nth-child(3)>div h6{
    width: 140px;
    line-height: 10px;
    background: url('../img/f.jpg') repeat;
}
#continut>ul>li:nth-child(3) li{
    margin-left: 0px;
    width: 230px;
    padding-bottom: 10px;
    padding-top: 18px;
    border-bottom: 1px dashed #1c1c1c;
    border-top: 1px dashed #434343;
}
#continut>ul>li:nth-child(3) li:first-child{
    padding-top: 0px;
    border-top: none;
}
#continut>ul>li:nth-child(3) li:last-child{
    border-bottom: none;
}
#continut>ul>li:nth-child(4)>div{
    height: 317px;
    width:185px;
}
#continut>ul>li:nth-child(4)>div>div{
    width: 185px;
    height: 10px;
    background: url('../img/hash.png') repeat-x;
    margin:20px 0px 25px 0px;
}
#continut>ul>li:nth-child(4)>div h6{
    line-height: 10px;
    width: 75px;
    background: url('../img/f.jpg') repeat-x;
    margin-bottom: 0px;
}
#continut small{
    color:#7a7a7a;
}
/*copyright*/
#copy{
    height: 71px;
    width: 100%;
    background: url('../img/footer.jpg') repeat;
    margin-top: 76px;
    border-top: 1px dashed #3f3f3f;
    position: relative;
}
#copy div{
    position:relative;
    width: 970px;
    height: 10px;
    margin: auto;
}
#copy p{
    position: absolute;
    color:#e0e0e0;
    line-height: 70px;
    margin-bottom: 0px;
}
#copy span{
    color:#797979;
}

#lines {
   position: fixed;
   top:0;
   bottom:0;
   left:0;
   right:0;
   width: 100%;
   opacity: .5;
}
#center{
    margin: auto;
    width: 960px;
    height: 100%;
    position: relative;
}
#center #wide{
    display: block;
    height: 100%;
    width:60px;
    background-color: red;
    margin-right: 20px;
    position: relative;
    float: left;
    z-index: 3;
}
#center #wide span{
    display: block;
    height: 100%;
    width: 20px;
    background-color: blue;
    z-index: 5;
    position: absolute;
    left:0;
}
#center #wide span:last-child{
    left:40px;    
}
div#lines hr{
    position: absolute;
    z-index: 1;
    opacity: .2;
    top:0;left:0;right:0;
}
